nav {   
    z-index: 1;
    .logo {
        position: relative;
        background: transparent;
        font-family: 'Fredericka the Great', cursive;
        width: 30%;
        font-size: 45px;
        z-index: 2;
        color: white;
        text-shadow: 1px 3px 10px black;
        letter-spacing: 5px;
    }
    .logo::after {
        position: absolute;
        content: "Doesthislooknormal";
        color: black;
        font-size: 45.3px;
        left: -5px;
        top: 2px;
        z-index: -1;


    }
    .logo::before {
        position: absolute;
        content: "Doesthislooknormal";
        color: red;
        font-size: 45.5px;
        z-index: -1;
        left: 3px;
        letter-spacing: 4.9px;

    }
}


@media screen and (max-width: 1270px){
    .logo {
        display: none;
    }
    .logo::after {
        display: none;
    }
    .logo::before {
        display: none;  
    }
}
