nav {   
    z-index: 1;
    .logo {
        position: relative;
        background: transparent;
        font-family: 'Fredericka the Great', cursive;
        width: 30%;
        font-size: 1.8rem;
        z-index: 2;
        color: white;
        text-shadow: 1px 3px 10px black;
        letter-spacing: 5px;
        left: 20px;
    }
    .logo::after {
        position: absolute;
        content: "Doesthislooknormal";
        color: #DBFEFF;
        font-size: 1.9rem;
        font-weight: 500;
        left: -5px;
        top: 0px;
        z-index: -1;
        letter-spacing: 4.7px;


    }
    .logo::before {
        font-weight: 900;
        position: absolute;
        content: "Doesthislooknormal";
        color: black;
        font-size: 1.87rem;
        font-weight: 500;
        z-index: -1;
        left: 3px;
        letter-spacing: 4.7px;

    }
}


@media screen and (max-width: 1379px){
    .logo {
        display: none;
    }
    .logo::after {
        display: none;
    }
    .logo::before {
        display: none;  
    }
}
