.miniShopSection {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    color: black;
    letter-spacing: 3px;
    background-color: #DBFEFF;
    box-shadow: 3px 3px 10px black;
    .miniShopGrid{

        width: 100%;
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(auto-fill, minmax(280px, 300px));
        grid-gap: 100px;
    }

    .shopImgContainer{
        position: relative;
        width: 100%;
        height: 400px;
    }
    .miniShopImg {
        position: absolute;
        border: 3px solid black;
        width: 100%;
        height: 100%;
        image-rendering: pixelated;
        object-fit: cover;
        overflow: hidden;
        border-radius: 2px;
        &:hover {
            opacity: .80;
            cursor: pointer;
        }
    }
    .miniProductInfo {
        font-size: 25px;
        position: absolute;
        left: 94px;
        top: -22px;
        background: darkgray;
        color: white;
        border-radius: 4px;
        &:hover {
            text-shadow: 1px 2px 10px black;
            cursor: pointer;
            text-decoration: underline;
        }
    }
    .ecsp, .ecsp-SingleProduct-v2, .ecsp-Product, .ec-Product-283334102 {
        display: block!important;

        &:hover {
            opacity: .80;
            transform: scale(1.1);
        }
    }

    .featuredItemMoney {
        position: absolute;
        color: black;
        font-size: 2em;
        font-weight: 900;
        top: 80%;
        left: 40%;
    }

    .featuredMoneyP{
        opacity: .80;
        width: 70px;
        border: 3px solid black;
        background: white;
        border-radius: 50%;
    }


    

}

    
.introContainer{
    width: 40%;
    margin: auto;

    .intro {
        text-align: center;
    }

    h1 {
        font-family: $logo-font;
        font-size: 45px;
        letter-spacing: 5px;
        word-spacing: 10px;
    }
    .introP{
        font-family: $logo-font;
        font-weight: bold;
        font-size: 30px;
        word-spacing: 4px;
        letter-spacing: -2px;
    }

    
}

@media screen and (max-width: 1000px){
    .introContainer{

        width: 100%;


        .introMedia{
            padding: 20px;
            text-align: left;
            width: 95%;
            margin: auto!important;
        }
    }


}