.miniShopSection {
    width: 100%;
    height: auto;
    background: rgb(225,206,162);
    background: linear-gradient(50deg, rgba(225,206,162,1) 5%, rgba(221,174,81,1) 11%, rgba(225,206,162,1) 26%, rgba(203,106,93,1) 38%, rgba(225,206,162,1) 61%, rgba(75,126,104,1) 75%, rgba(225,206,162,1) 91%);
    
    .miniShopGrid{
        width: 100%;
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(auto-fill, minmax(280px, 300px));
        grid-gap: 100px;
    }

    .shopImgContainer{
        position: relative;
        width: 100%;
        height: 400px;
    }
    .miniShopImg {
        position: absolute;
        border: 3px solid black;
        width: 100%;
        height: 100%;
        border-radius: 100px;
        image-rendering: pixelated;
        object-fit: cover;
        overflow: hidden;
    }
    .miniProductInfo {
        font-size: 25px;
        position: absolute;
        left: 105px;
        top: -22px;
        background: darkgray;
        color: white;
        border-radius: 4px;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    

}

    
.introContainer{
    width: 40%;
    margin: auto;

    .intro {
        text-align: center;
    }

    h1 {
        font-family: $mini-header-font;
        font-size: 45px;
        letter-spacing: 5px;
        word-spacing: 10px;
    }
    .introP{
        font-family: $paragraph-font;
        font-size: 30px;
        word-spacing: 4px;
        letter-spacing: -2px;
    }

    
}

@media screen and (max-width: 1000px){
    .introContainer{

        width: 100%;


        .introMedia{
            padding: 20px;
            text-align: left;
            width: 95%;
            margin: auto!important;
        }
    }


}