$header-font: 'Modak', cursive;
$paragraph-font: 'Yatra One', cursive;
$mini-header-font: 'Ewert', cursive;



@import './miniShopHP';
@import './nav';
@import './logo';


html body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    a {
        text-decoration: none;
        color: black;
        &:hover{
            cursor: pointer!important;
        }
}
}


main {

    height: 80vh;
    width: 100%;
    .mainSection {
        width: 100%;
        height: auto;
        .logoIMG{
            position: relative;
            width: 100%;
            height: auto;
            z-index: -5;
        }
    }
}


@media screen and (min-width: 600px){
    main {
        height: 80vh;
        width: 95%;
        margin: auto!important;

        .mainSection {
            width: 100%;
            height: auto;
            
            .logoIMG{
                width: 100%;
                height: auto;
    
            }
        }
    }
}