@import './nav';
@import './logo';

html body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    a {
        text-decoration: none;
        color: black;
        &:hover{
            cursor: pointer!important;
        }
}
}


main {
    margin: auto;
    height: 80vh;
    width: 100%;
    .mainSection {
        width: 100%;
        height: auto;
        .logoIMG{
            position: relative;
            width: 100%;
            height: auto;
            z-index: -5;
        }
    }
}


@media only screen and (min-width: 600px){
    main {
        margin: auto;
        height: 80vh;
        width: 80%;
        .mainSection {
            width: 100%;
            height: auto;
            .logoIMG{
                width: 100%;
                height: auto;
    
            }
        }
    }
}