$header-font: 'Modak', cursive;
$paragraph-font: 'Yatra One', cursive;
$mini-header-font: 'Ewert', cursive;
$logo-font: 'Fredericka the Great', cursive;

@import './footer';
@import './createForm.scss';
@import './miniShopHP';
@import './nav';
@import './logo';


html body {
    font-family: $paragraph-font;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    a {
        transform: skew(-20deg);
        text-decoration: none;
        color: rgb(189, 97, 48);
        &:hover{
            cursor: pointer!important;
            text-decoration: overline;
            text-decoration-color: 	rgb(174, 68, 170);
        }
}
}


main {

    height: auto!important;
    width: 100%;
    .mainSection {
        width: 100%;
        height: auto;

        .logoIMG{
            border: 3px solid black;
            position: relative;
            width: 100%;
            height: auto;
            z-index: -5;
            object-fit: contain;

        }
    }
}


@media screen and (min-width: 600px){
    main {
        height: 80vh;
        width: 95%;
        margin: auto!important;

        .mainSection {
            width: 100%;
            height: auto;
            
            .logoIMG{
                width: 100%;
                height: auto;
    
            }
        }
    }
}