doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css') 
    link(href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet") 
    link(href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet") 

    <link rel="preconnect" href="https://fonts.gstatic.com">
    link(href="https://fonts.googleapis.com/css2?family=Yatra+One&display=swap" rel="stylesheet")

    <link rel="preconnect" href="https://fonts.gstatic.com">
    link(href="https://fonts.googleapis.com/css2?family=Ewert&display=swap" rel="stylesheet")


    

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  body
    include nav.pug
    block content

    include footer.pug
    <script src="../javascripts/customNav.js"></script>
    
    
