/* line 1, public/sass/_shop.scss */
.gridWrapper {
  font-family: "Fredericka the Great", cursive;
  width: 80%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 100px;
  margin-bottom: 1000px;
  text-align: center; }
  /* line 12, public/sass/_shop.scss */
  .gridWrapper .shopForm {
    position: absolute;
    font-size: 35px;
    border: none; }
  /* line 19, public/sass/_shop.scss */
  .gridWrapper .selectShopItems {
    font-family: "Fredericka the Great", cursive;
    font-weight: bold;
    border: none;
    width: 100px;
    height: 30px;
    box-shadow: 1px 1px 10px black; }
    /* line 26, public/sass/_shop.scss */
    .gridWrapper .selectShopItems:hover {
      background-color: #DBFEFF; }
  /* line 32, public/sass/_shop.scss */
  .gridWrapper #gridContainer {
    margin-top: 70px;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 1.5%;
    box-shadow: 3px 3px 10px black; }
    /* line 40, public/sass/_shop.scss */
    .gridWrapper #gridContainer:hover {
      transition: transform 300ms ease-in-out;
      transform: scale(1.03); }
  /* line 47, public/sass/_shop.scss */
  .gridWrapper #itemPicture {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: auto !important; }
  /* line 54, public/sass/_shop.scss */
  .gridWrapper #itemName {
    width: 100%;
    margin: 0;
    text-align: center; }
  /* line 61, public/sass/_shop.scss */
  .gridWrapper .shopButtons {
    width: 120px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Fredericka the Great", cursive; }
    /* line 67, public/sass/_shop.scss */
    .gridWrapper .shopButtons:hover {
      cursor: pointer;
      background-color: #DBFEFF; }

/* line 1, public/sass/_aboutUs.scss */
.aboutWrapper {
  position: relative;
  width: 80%;
  height: auto;
  margin: auto;
  display: flex !important; }
  /* line 9, public/sass/_aboutUs.scss */
  .aboutWrapper .aboutImgWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .25; }
  /* line 16, public/sass/_aboutUs.scss */
  .aboutWrapper .aboutImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%); }
  /* line 24, public/sass/_aboutUs.scss */
  .aboutWrapper h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Fredericka the Great", cursive;
    font-weight: 900;
    letter-spacing: 3px; }
  /* line 31, public/sass/_aboutUs.scss */
  .aboutWrapper .aboutInfo {
    background-color: #DBFEFF;
    width: 100%;
    box-shadow: 10px 10px 10px black; }
  /* line 37, public/sass/_aboutUs.scss */
  .aboutWrapper p {
    text-align: justify;
    line-height: 1.5;
    padding: 30px;
    font-family: "Fredericka the Great", cursive;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 2px; }

@media screen and (max-width: 1100px) {
  /* line 50, public/sass/_aboutUs.scss */
  .aboutWrapper {
    width: 100%;
    margin: auto; } }

/* line 1, public/sass/_footer.scss */
footer {
  font-family: "Fredericka the Great", cursive;
  letter-spacing: 2px;
  margin: auto;
  width: 100%;
  height: auto;
  background-color: black; }
  /* line 15, public/sass/_footer.scss */
  footer .socialMediaWrapper {
    width: 50%;
    margin: auto;
    padding: 0px;
    border: 3px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  /* line 25, public/sass/_footer.scss */
  footer .socialMediaLogos {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  /* line 33, public/sass/_footer.scss */
  footer .footerLogos {
    width: 50px;
    height: auto;
    border-radius: 20%; }
    /* line 37, public/sass/_footer.scss */
    footer .footerLogos:hover {
      transform: scale(1.3); }
  /* line 42, public/sass/_footer.scss */
  footer a {
    color: white !important; }
    /* line 44, public/sass/_footer.scss */
    footer a:hover {
      color: blue !important;
      text-decoration: overline; }
  /* line 52, public/sass/_footer.scss */
  footer h5 {
    border-left: solid white 3px;
    border-top: solid white 3px;
    text-align: center;
    color: white !important; }
  /* line 58, public/sass/_footer.scss */
  footer h3 {
    color: white; }
    /* line 60, public/sass/_footer.scss */
    footer h3:hover {
      cursor: pointer;
      transform: scale(1.1); }

/* line 1, public/sass/_createForm.scss */
.createWrapper {
  width: 100%;
  height: auto;
  background-color: #DBFEFF; }
  /* line 6, public/sass/_createForm.scss */
  .createWrapper .creationInfo {
    width: 50%;
    margin: auto; }
  /* line 11, public/sass/_createForm.scss */
  .createWrapper h1 {
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: "Fredericka the Great", cursive; }
  /* line 19, public/sass/_createForm.scss */
  .createWrapper p {
    font-size: 25px;
    font-family: "Fredericka the Great", cursive;
    font-weight: bold;
    padding: 15px; }
  /* line 27, public/sass/_createForm.scss */
  .createWrapper .emailAddress a {
    text-decoration: underline;
    color: blue; }
    /* line 30, public/sass/_createForm.scss */
    .createWrapper .emailAddress a:hover {
      opacity: .60; }
  /* line 36, public/sass/_createForm.scss */
  .createWrapper .formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px; }
  /* line 43, public/sass/_createForm.scss */
  .createWrapper .createInput {
    width: 50%;
    height: 100px;
    margin: auto;
    margin-top: 30px;
    opacity: .50;
    border: none;
    background-color: transparent;
    font-size: 25px;
    border-bottom: 1px solid black; }
    /* line 53, public/sass/_createForm.scss */
    .createWrapper .createInput:focus {
      outline: none;
      background-color: black;
      color: white;
      transform: skew(-6deg); }
  /* line 63, public/sass/_createForm.scss */
  .createWrapper .button {
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 50px; }
    /* line 70, public/sass/_createForm.scss */
    .createWrapper .button:hover {
      cursor: pointer;
      animation: ease-in-out;
      transition-duration: 1s;
      transform: scale(1.1);
      box-shadow: 2px 2px 10px black; }

@media screen and (max-width: 981px) {
  /* line 84, public/sass/_createForm.scss */
  .createWrapper {
    overflow: hidden !important; }
    /* line 87, public/sass/_createForm.scss */
    .createWrapper .creationInfo {
      width: 100% !important;
      word-wrap: break-word; }
    /* line 91, public/sass/_createForm.scss */
    .createWrapper p {
      padding: 15px; }
    /* line 94, public/sass/_createForm.scss */
    .createWrapper .createInput {
      width: 80%; } }

/* line 1, public/sass/_miniShopHP.scss */
.miniShopSection {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  color: black;
  letter-spacing: 3px;
  background-color: #DBFEFF; }
  /* line 10, public/sass/_miniShopHP.scss */
  .miniShopSection .miniShopGrid {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(280px, 300px));
    grid-gap: 100px; }
  /* line 21, public/sass/_miniShopHP.scss */
  .miniShopSection .shopImgContainer {
    position: relative;
    width: 100%;
    height: 400px; }
  /* line 26, public/sass/_miniShopHP.scss */
  .miniShopSection .miniShopImg {
    position: absolute;
    border: 3px solid black;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    object-fit: cover;
    overflow: hidden;
    border-radius: 2px; }
    /* line 35, public/sass/_miniShopHP.scss */
    .miniShopSection .miniShopImg:hover {
      opacity: .80;
      cursor: pointer; }
  /* line 40, public/sass/_miniShopHP.scss */
  .miniShopSection .miniProductInfo {
    font-size: 25px;
    position: absolute;
    left: 94px;
    top: -22px;
    background: darkgray;
    color: white;
    border-radius: 4px; }
    /* line 48, public/sass/_miniShopHP.scss */
    .miniShopSection .miniProductInfo:hover {
      text-shadow: 1px 2px 10px black;
      cursor: pointer;
      text-decoration: underline; }
  /* line 54, public/sass/_miniShopHP.scss */
  .miniShopSection .ecsp, .miniShopSection .ecsp-SingleProduct-v2, .miniShopSection .ecsp-Product, .miniShopSection .ec-Product-283334102 {
    display: block !important; }
    /* line 57, public/sass/_miniShopHP.scss */
    .miniShopSection .ecsp:hover, .miniShopSection .ecsp-SingleProduct-v2:hover, .miniShopSection .ecsp-Product:hover, .miniShopSection .ec-Product-283334102:hover {
      opacity: .80;
      transform: scale(1.1); }

/* line 67, public/sass/_miniShopHP.scss */
.introContainer {
  width: 40%;
  margin: auto; }
  /* line 71, public/sass/_miniShopHP.scss */
  .introContainer .intro {
    text-align: center; }
  /* line 75, public/sass/_miniShopHP.scss */
  .introContainer h1 {
    font-family: "Fredericka the Great", cursive;
    font-size: 45px;
    letter-spacing: 5px;
    word-spacing: 10px; }
  /* line 81, public/sass/_miniShopHP.scss */
  .introContainer .introP {
    font-family: "Fredericka the Great", cursive;
    font-weight: bold;
    font-size: 30px;
    word-spacing: 4px;
    letter-spacing: -2px; }

@media screen and (max-width: 1000px) {
  /* line 93, public/sass/_miniShopHP.scss */
  .introContainer {
    width: 100%; }
    /* line 98, public/sass/_miniShopHP.scss */
    .introContainer .introMedia {
      padding: 20px;
      text-align: left;
      width: 95%;
      margin: auto !important; } }

/* line 1, public/sass/_nav.scss */
nav {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #6FA6A8;
  z-index: -4;
  overflow: hidden;
  box-shadow: 3px 3px 10px black;
  margin: auto; }
  /* line 11, public/sass/_nav.scss */
  nav ul {
    width: 80%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px; }
  /* line 19, public/sass/_nav.scss */
  nav li {
    font-family: "Fredericka the Great", cursive;
    font-size: 45px;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    white-space: nowrap; }

@media screen and (max-width: 1379px) and (min-width: 1271px) {
  /* line 38, public/sass/_nav.scss */
  nav ul {
    width: 100%; }
  /* line 41, public/sass/_nav.scss */
  nav li {
    width: 100%; } }

@media screen and (max-width: 1270px) {
  /* line 48, public/sass/_nav.scss */
  ul {
    justify-content: left !important;
    align-items: center !important;
    margin: auto;
    padding: 20px;
    width: 100% !important; }
  /* line 56, public/sass/_nav.scss */
  li {
    width: 100% !important;
    margin: 10px; } }

/* line 1, public/sass/_logo.scss */
nav {
  z-index: 1; }
  /* line 3, public/sass/_logo.scss */
  nav .logo {
    position: relative;
    background: transparent;
    font-family: 'Fredericka the Great', cursive;
    width: 30%;
    font-size: 1.8rem;
    z-index: 2;
    color: white;
    text-shadow: 1px 3px 10px black;
    letter-spacing: 5px;
    left: 20px; }
  /* line 15, public/sass/_logo.scss */
  nav .logo::after {
    position: absolute;
    content: "Doesthislooknormal";
    color: #DBFEFF;
    font-size: 1.9rem;
    font-weight: 500;
    left: -5px;
    top: 0px;
    z-index: -1;
    letter-spacing: 4.7px; }
  /* line 28, public/sass/_logo.scss */
  nav .logo::before {
    font-weight: 900;
    position: absolute;
    content: "Doesthislooknormal";
    color: black;
    font-size: 1.87rem;
    font-weight: 500;
    z-index: -1;
    left: 3px;
    letter-spacing: 4.7px; }

@media screen and (max-width: 1379px) {
  /* line 44, public/sass/_logo.scss */
  .logo {
    display: none; }
  /* line 47, public/sass/_logo.scss */
  .logo::after {
    display: none; }
  /* line 50, public/sass/_logo.scss */
  .logo::before {
    display: none; } }

/* line 16, public/sass/main.scss */
html body {
  font-family: "Yatra One", cursive;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #BAF3F5; }
  /* line 23, public/sass/main.scss */
  html body a {
    font-weight: bold;
    text-decoration: none;
    color: black; }
    /* line 27, public/sass/main.scss */
    html body a:hover {
      cursor: pointer !important;
      text-decoration: overline;
      text-decoration-color: #DBFEFF; }

/* line 36, public/sass/main.scss */
main {
  height: auto !important;
  width: 100%; }
  /* line 40, public/sass/main.scss */
  main .mainSection {
    width: 100%;
    height: auto; }
    /* line 44, public/sass/main.scss */
    main .mainSection .logoIMG {
      border: 3px solid black;
      position: relative;
      width: 100%;
      height: auto;
      z-index: -5;
      object-fit: contain; }

@media screen and (min-width: 600px) {
  /* line 58, public/sass/main.scss */
  main {
    height: 80vh;
    width: 95%;
    margin: auto !important; }
    /* line 63, public/sass/main.scss */
    main .mainSection {
      width: 100%;
      height: auto; }
      /* line 67, public/sass/main.scss */
      main .mainSection .logoIMG {
        width: 100%;
        height: auto; } }
