/* line 1, public/sass/_footer.scss */
footer {
  font-family: "Fredericka the Great", cursive;
  letter-spacing: 2px;
  margin: auto;
  width: 100%;
  height: auto;
  background-color: black; }
  /* line 15, public/sass/_footer.scss */
  footer .socialMediaWrapper {
    width: 50%;
    margin: auto;
    padding: 0px;
    border: 3px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  /* line 25, public/sass/_footer.scss */
  footer .socialMediaLogos {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  /* line 33, public/sass/_footer.scss */
  footer .footerLogos {
    width: 50px;
    height: auto;
    border-radius: 20%; }
    /* line 37, public/sass/_footer.scss */
    footer .footerLogos:hover {
      transform: scale(1.3); }
  /* line 42, public/sass/_footer.scss */
  footer a {
    color: white !important; }
    /* line 44, public/sass/_footer.scss */
    footer a:hover {
      color: blue !important;
      text-decoration: overline; }
  /* line 52, public/sass/_footer.scss */
  footer h5 {
    border-left: solid white 3px;
    border-top: solid white 3px;
    text-align: center;
    color: white !important; }
  /* line 58, public/sass/_footer.scss */
  footer h3 {
    color: white; }
    /* line 60, public/sass/_footer.scss */
    footer h3:hover {
      cursor: pointer;
      transform: scale(1.1); }

/* line 1, public/sass/_createForm.scss */
.createWrapper {
  width: 100%;
  height: auto;
  border: 3px solid black;
  background-color: white; }
  /* line 6, public/sass/_createForm.scss */
  .createWrapper .creationInfo {
    width: 50%;
    margin: auto; }
  /* line 11, public/sass/_createForm.scss */
  .createWrapper h1 {
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: "Fredericka the Great", cursive; }
  /* line 19, public/sass/_createForm.scss */
  .createWrapper p {
    font-size: 25px;
    font-family: "Fredericka the Great", cursive;
    font-weight: bold;
    padding: 15px; }
  /* line 27, public/sass/_createForm.scss */
  .createWrapper .emailAddress a {
    text-decoration: underline;
    color: blue; }
    /* line 30, public/sass/_createForm.scss */
    .createWrapper .emailAddress a:hover {
      opacity: .60; }
  /* line 36, public/sass/_createForm.scss */
  .createWrapper .formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px; }
  /* line 43, public/sass/_createForm.scss */
  .createWrapper .createInput {
    width: 50%;
    height: 100px;
    margin: auto;
    margin-top: 30px;
    opacity: .50;
    border: none;
    background-color: transparent;
    font-size: 25px;
    border-bottom: 1px solid black; }
    /* line 53, public/sass/_createForm.scss */
    .createWrapper .createInput:focus {
      outline: none;
      background-color: black;
      color: white;
      transform: skew(-6deg); }

@media screen and (max-width: 981px) {
  /* line 67, public/sass/_createForm.scss */
  .createWrapper {
    overflow: hidden !important; }
    /* line 70, public/sass/_createForm.scss */
    .createWrapper .creationInfo {
      width: 100% !important;
      word-wrap: break-word; }
    /* line 74, public/sass/_createForm.scss */
    .createWrapper p {
      padding: 15px; }
    /* line 77, public/sass/_createForm.scss */
    .createWrapper .createInput {
      width: 80%; } }

/* line 1, public/sass/_miniShopHP.scss */
.miniShopSection {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  color: black;
  letter-spacing: 3px; }
  /* line 8, public/sass/_miniShopHP.scss */
  .miniShopSection .miniShopGrid {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(280px, 300px));
    grid-gap: 100px; }
  /* line 18, public/sass/_miniShopHP.scss */
  .miniShopSection .shopImgContainer {
    position: relative;
    width: 100%;
    height: 400px; }
  /* line 23, public/sass/_miniShopHP.scss */
  .miniShopSection .miniShopImg {
    position: absolute;
    border: 3px solid black;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    image-rendering: pixelated;
    object-fit: cover;
    overflow: hidden; }
    /* line 32, public/sass/_miniShopHP.scss */
    .miniShopSection .miniShopImg:hover {
      opacity: .80; }
  /* line 36, public/sass/_miniShopHP.scss */
  .miniShopSection .miniProductInfo {
    font-size: 25px;
    position: absolute;
    left: 94px;
    top: -22px;
    background: darkgray;
    color: white;
    border-radius: 4px; }
    /* line 44, public/sass/_miniShopHP.scss */
    .miniShopSection .miniProductInfo:hover {
      text-shadow: 1px 2px 10px black;
      cursor: pointer;
      text-decoration: underline; }

/* line 55, public/sass/_miniShopHP.scss */
.introContainer {
  width: 40%;
  margin: auto; }
  /* line 59, public/sass/_miniShopHP.scss */
  .introContainer .intro {
    text-align: center; }
  /* line 63, public/sass/_miniShopHP.scss */
  .introContainer h1 {
    font-family: "Fredericka the Great", cursive;
    font-size: 45px;
    letter-spacing: 5px;
    word-spacing: 10px; }
  /* line 69, public/sass/_miniShopHP.scss */
  .introContainer .introP {
    font-family: "Fredericka the Great", cursive;
    font-weight: bold;
    font-size: 30px;
    word-spacing: 4px;
    letter-spacing: -2px; }

@media screen and (max-width: 1000px) {
  /* line 81, public/sass/_miniShopHP.scss */
  .introContainer {
    width: 100%; }
    /* line 86, public/sass/_miniShopHP.scss */
    .introContainer .introMedia {
      padding: 20px;
      text-align: left;
      width: 95%;
      margin: auto !important; } }

/* line 1, public/sass/_nav.scss */
nav {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f4e7a1;
  z-index: -4;
  overflow: none; }
  /* line 9, public/sass/_nav.scss */
  nav ul {
    width: 80%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px; }
  /* line 17, public/sass/_nav.scss */
  nav li {
    font-family: "Fredericka the Great", cursive;
    font-size: 45px;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    white-space: nowrap; }

@media screen and (max-width: 1379px) and (min-width: 1271px) {
  /* line 36, public/sass/_nav.scss */
  nav ul {
    width: 100%; }
  /* line 39, public/sass/_nav.scss */
  nav li {
    width: 100%; } }

@media screen and (max-width: 1270px) {
  /* line 46, public/sass/_nav.scss */
  ul {
    justify-content: left !important;
    align-items: center !important;
    margin: auto;
    padding: 20px;
    width: 100% !important;
    border: 3px solid black; }
  /* line 55, public/sass/_nav.scss */
  li {
    width: 100% !important;
    margin: 10px; } }

/* line 1, public/sass/_logo.scss */
nav {
  z-index: 1; }
  /* line 3, public/sass/_logo.scss */
  nav .logo {
    position: relative;
    background: transparent;
    font-family: 'Fredericka the Great', cursive;
    width: 30%;
    font-size: 45px;
    z-index: 2;
    color: white;
    text-shadow: 1px 3px 10px black;
    letter-spacing: 5px; }
  /* line 14, public/sass/_logo.scss */
  nav .logo::after {
    position: absolute;
    content: "Doesthislooknormal";
    color: #bd6130;
    font-size: 45.3px;
    left: -5px;
    top: 2px;
    z-index: -1; }
  /* line 25, public/sass/_logo.scss */
  nav .logo::before {
    font-weight: 900;
    position: absolute;
    content: "Doesthislooknormal";
    color: black;
    font-size: 45.5px;
    z-index: -1;
    left: 3px;
    letter-spacing: 4.9px; }

@media screen and (max-width: 1270px) {
  /* line 40, public/sass/_logo.scss */
  .logo {
    display: none; }
  /* line 43, public/sass/_logo.scss */
  .logo::after {
    display: none; }
  /* line 46, public/sass/_logo.scss */
  .logo::before {
    display: none; } }

/* line 13, public/sass/main.scss */
html body {
  font-family: "Yatra One", cursive;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black; }
  /* line 19, public/sass/main.scss */
  html body a {
    transform: skew(-20deg);
    text-decoration: none;
    color: #bd6130; }
    /* line 23, public/sass/main.scss */
    html body a:hover {
      cursor: pointer !important;
      text-decoration: overline;
      text-decoration-color: #ae44aa; }

/* line 32, public/sass/main.scss */
main {
  height: auto !important;
  width: 100%; }
  /* line 36, public/sass/main.scss */
  main .mainSection {
    width: 100%;
    height: auto; }
    /* line 40, public/sass/main.scss */
    main .mainSection .logoIMG {
      border: 3px solid black;
      position: relative;
      width: 100%;
      height: auto;
      z-index: -5;
      object-fit: contain; }

@media screen and (min-width: 600px) {
  /* line 54, public/sass/main.scss */
  main {
    height: 80vh;
    width: 95%;
    margin: auto !important; }
    /* line 59, public/sass/main.scss */
    main .mainSection {
      width: 100%;
      height: auto; }
      /* line 63, public/sass/main.scss */
      main .mainSection .logoIMG {
        width: 100%;
        height: auto; } }
