/* line 1, public/sass/_miniShopHP.scss */
.miniShopSection {
  width: 100%;
  height: auto;
  background: #e1cea2;
  background: linear-gradient(50deg, #e1cea2 5%, #ddae51 11%, #e1cea2 26%, #cb6a5d 38%, #e1cea2 61%, #4b7e68 75%, #e1cea2 91%); }
  /* line 7, public/sass/_miniShopHP.scss */
  .miniShopSection .miniShopGrid {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(280px, 300px));
    grid-gap: 100px; }
  /* line 17, public/sass/_miniShopHP.scss */
  .miniShopSection .shopImgContainer {
    position: relative;
    width: 100%;
    height: 400px; }
  /* line 22, public/sass/_miniShopHP.scss */
  .miniShopSection .miniShopImg {
    position: absolute;
    border: 3px solid black;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    image-rendering: pixelated;
    object-fit: cover;
    overflow: hidden; }
  /* line 32, public/sass/_miniShopHP.scss */
  .miniShopSection .miniProductInfo {
    position: absolute;
    left: 70px;
    background: black;
    color: white; }
    /* line 37, public/sass/_miniShopHP.scss */
    .miniShopSection .miniProductInfo:hover {
      cursor: pointer;
      background: darkgray; }

/* line 45, public/sass/_miniShopHP.scss */
.introContainer {
  width: 40%;
  margin: auto; }
  /* line 49, public/sass/_miniShopHP.scss */
  .introContainer .intro {
    text-align: center; }

/* line 1, public/sass/_nav.scss */
nav {
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 4px 5px 5px lightgray;
  background-image: url("../images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
  z-index: -4; }
  /* line 14, public/sass/_nav.scss */
  nav ul {
    width: 80%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px; }
  /* line 22, public/sass/_nav.scss */
  nav li {
    font-family: 'Modak', cursive;
    font-size: 45px;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none; }
    /* line 31, public/sass/_nav.scss */
    nav li:hover {
      cursor: pointer;
      text-decoration: underline; }

/* line 1, public/sass/_logo.scss */
nav {
  z-index: 1; }
  /* line 3, public/sass/_logo.scss */
  nav .logo {
    position: relative;
    background: transparent;
    font-family: 'Fredericka the Great', cursive;
    width: 30%;
    font-size: 45px;
    z-index: 2;
    color: white;
    text-shadow: 1px 3px 10px black;
    letter-spacing: 5px; }
  /* line 14, public/sass/_logo.scss */
  nav .logo::after {
    position: absolute;
    content: "Doesthislooknormal";
    color: black;
    font-size: 45.3px;
    left: -5px;
    top: 2px;
    z-index: -1; }
  /* line 25, public/sass/_logo.scss */
  nav .logo::before {
    position: absolute;
    content: "Doesthislooknormal";
    color: red;
    font-size: 45.5px;
    z-index: -1;
    left: 3px;
    letter-spacing: 4.9px; }

/* line 6, public/sass/main.scss */
html body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }
  /* line 10, public/sass/main.scss */
  html body a {
    text-decoration: none;
    color: black; }
    /* line 13, public/sass/main.scss */
    html body a:hover {
      cursor: pointer !important; }

/* line 20, public/sass/main.scss */
main {
  margin: auto;
  height: 80vh;
  width: 100%; }
  /* line 24, public/sass/main.scss */
  main .mainSection {
    width: 100%;
    height: auto; }
    /* line 27, public/sass/main.scss */
    main .mainSection .logoIMG {
      position: relative;
      width: 100%;
      height: auto;
      z-index: -5; }

@media only screen and (min-width: 600px) {
  /* line 38, public/sass/main.scss */
  main {
    margin: auto;
    height: 80vh;
    width: 95%; }
    /* line 42, public/sass/main.scss */
    main .mainSection {
      width: 100%;
      height: auto; }
      /* line 45, public/sass/main.scss */
      main .mainSection .logoIMG {
        width: 100%;
        height: auto; } }
