<footer>
    <article class="socialMediaWrapper">
        <h1>Follow Us On Social Media!</h1>
        <div class="socialMediaLogos">
            <h3><a href="https://www.facebook.com/groups/275862217001966/user/100000255735013">Facebook</a></h3>
            <a href="https://www.facebook.com/groups/275862217001966/user/100000255735013"><img class="footerLogos" src="../images/facebook.png" alt="Facebook Logo"></a>

            <h3><a href="https://twitter.com/look_normal">Twitter</a></h3>
            <a href="https://twitter.com/look_normal"><img class="footerLogos" src="../images/twitter.jpg" alt="Instagram Logo"></a>

            <h3><a href="https://www.instagram.com/does_this_look_normal/">Instagram</a></h3>
            <a href="https://www.instagram.com/does_this_look_normal/"><img class="footerLogos" src="../images/instagram.svg" alt="Twitter Logo"></a>
        </div>
    </article>
    <h5>Creator: SpoonmooseInc</h5>

</footer>