<footer>
    <article class="socialMediaWrapper">
        <h5>Creator: SpoonmooseInc</h5>
        <div class="socialMediaLogos">
            <h3><a href="https://twitter.com/look_normal"></a></h3>
            <a href="https://twitter.com/look_normal"><img class="footerLogos" src="../images/twitter.jpg" alt="Instagram Logo"></a>

            <h3><a href="https://www.instagram.com/does_this_look_normal/"></a></h3>
            <a href="https://www.instagram.com/does_this_look_normal/"><img class="footerLogos" id="instagramImg" src="../images/instagram.svg" alt="Twitter Logo"></a>
        </div>
    </article>


</footer>