<main>
    <section class="mainSection">
        <img class="logoIMG" data-aos="fade-down" src="images/logo.jpeg" alt="Main Logo of Crew">
    </section>

    <section class="miniShopSection">
      <article class="introContainer" data-aos="fade-left">
        <div class="introMedia">
          <div class="intro">
            <h1>Featured Items</h1>
          </div>
          <!-- <div class="introP">
            <p>
              
            </p>
          </div> -->
        </div>
      </article>

      <div class="miniShopGrid" data-aos="fade-right">
        <div class="homeDecor shopImgContainer">
          <a href="#"><img class="miniShopImg" src="images/miniShop/homeDecor.jpg" alt=""></a>
          <p class="miniProductInfo">Home Decor</p>
        </div>
        
        <div class="item2 shopImgContainer">
          <a href="#"><img class="miniShopImg" src="images/miniShop/drinkWear.jpg" alt=""></a>
          <p class="miniProductInfo">Drinkwear</p>
        </div>
        
        <div class="item3 shopImgContainer">
          <a href="#"><img class="miniShopImg" src="images/miniShop/accessories.jpg" alt=""></a>
          <p class="miniProductInfo">Accessories</p>
        </div>
        
        <div class="item4 shopImgContainer">
          <a href="#"><img class="miniShopImg" src="images/miniShop/jewelry.jpg" alt=""></a>
          <p class="miniProductInfo">Jewelry</p>
        </div>

        <div class="item5 shopImgContainer">
          <a href="#"><img class="miniShopImg" src="images/miniShop/candles.jpg" alt=""></a>
          <p class="miniProductInfo">Candles</p>
        </div>

        <div class="item6 shopImgContainer">
          <a href="#"><img class="miniShopImg" src="images/miniShop/shirts.jpg" alt=""></a>
          <p class="miniProductInfo">T - Shirts</p>
        </div>

        <div class="item7 shopImgContainer">
          <a href="#"><img class="miniShopImg" src="images/miniShop/creepshow.jpg" alt=""></a>
          <p class="miniProductInfo">Creepshow</p>
        </div>

        <div class="item8 shopImgContainer">
          <a href="#"><img class="miniShopImg" src="images/miniShop/pins.jpg" alt=""></a>
          <p class="miniProductInfo">Pins & Clips</p>
        </div>
      </div>
    </section>


    <section class="createWrapper">
      <article class="creationInfo">
        <h1>Create Your Own Normal</h1>
        <p>Fill out the form below to create your own style and show your abnormal side, sunshine.
           We will recreate to your specifications, but only with materials you see in our shop! Any special requests email <span class="emailAddress"><a href="mailto:"doesthislooknormal@gmail.com">doesthislooknormal@gmail.com</a></span>.
        </p>
      </article>

      <form class="formWrapper" data-aos="zoom-in"  id="formData"">
        <input class="createInput" name="userName" id="userName" type="text" placeholder="Your Name" required>
        
        <input class="createInput" name="email" id="userEmail" type="email" placeholder="Your Email Address" required>

        <input class="createInput" name="item" id="userItem" type="text" placeholder="Type of Material" required>

        <textarea class="createInput" name="msg" id="userMsg" placeholder="Tell Us Your Idea" cols="30" rows="10" required></textarea>

        <input type="submit" name="submit" id="submit" value="Send" class="button"> 
      </form>
    </section>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $('#formData').on('submit', (e) => {
    e.preventDefault();

    const userName = $('#userName').val().trim();
    const email = $('#userEmail').val().trim();
    const item = $('#userItem').val().trim();
    const msg = $('#userMsg').val().trim();

    const data = {
      userName,
      email,
      item,
      msg
    };

    $.post('/email', data, function(){
      console.log("Email Sent!");
    });

  })
</script>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
  delay: 50, // values from 0 to 3000, with step 50ms
  duration: 1000, // values from 0 to 3000, with step 50ms
  easing: 'ease-in', // default easing for AOS animations
  once: true,
  }
  );
</script>

