<main>
    <section class="mainSection">
        <img class="logoIMG" data-aos="fade-down" src="images/logo.jpeg" alt="Main Logo of Crew">
    </section>

    <section class="miniShopSection">

      <article class="introContainer">
        <div class="intro">
          <h1>Our Mission</h1>
        </div>

        <div class="intoP">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint modi, exercitationem iusto rerum cumque possimus! Vitae fuga eaque et consectetur minus perferendis sunt modi aut quo accusamus est, voluptatum sapiente alias obcaecati dignissimos ex tempora culpa doloribus quod deleniti enim? Ea facere cumque animi magnam consequatur aut, sit culpa quidem.</p>
        </div>
      </article>

      <div class="miniShopGrid">
        <div class="homeDecor shopImgContainer">
          <a href="#"><img class="miniShopImg" src="images/miniShop/homeDecor.jpg" alt=""></a>
          <p class="miniProductInfo">Product Info</p>
        </div>
        
        <div class="item2 shopImgContainer">
          <a href="#"><img class="miniShopImg" src="images/miniShop/drinkWear.jpg" alt=""></a>
          <p class="miniProductInfo">Product Info</p>
        </div>
        
        <div class="item3 shopImgContainer">
          <a href="#"><img class="miniShopImg" src="images/miniShop/accessories.jpg" alt=""></a>
          <p class="miniProductInfo">Product Info</p>
        </div>
        
        <div class="item4 shopImgContainer">
          <a href="#"><img class="miniShopImg" src="images/miniShop/jewelry.jpg" alt=""></a>
          <p class="miniProductInfo">Product Info</p>
        </div>

        <div class="item5 shopImgContainer">
          <a href="#"><img class="miniShopImg" src="images/miniShop/candles.jpg" alt=""></a>
          <p class="miniProductInfo">Product Info</p>
        </div>

        <div class="item6 shopImgContainer">
          <a href="#"><img class="miniShopImg" src="images/miniShop/shirts.jpg" alt=""></a>
          <p class="miniProductInfo">Product Info</p>
        </div>

        <div class="item7 shopImgContainer">
          <a href="#"><img class="miniShopImg" src="images/miniShop/creepshow.jpg" alt=""></a>
          <p class="miniProductInfo">Product Info</p>
        </div>

        <div class="item8 shopImgContainer">
          <a href="#"><img class="miniShopImg" src="images/miniShop/pins.jpg" alt=""></a>
          <p class="miniProductInfo">Product Info</p>
        </div>
      </div>
    </section>
</main>



<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
  delay: 50, // values from 0 to 3000, with step 50ms
  duration: 1000, // values from 0 to 3000, with step 50ms
  easing: 'ease-in', // default easing for AOS animations
  }
  );
</script>