<main>
    <section class="mainSection">
        <img class="logoIMG" data-aos="fade-down" src="images/logo.jpeg" alt="Main Logo of Crew">
    </section>

    <section class="miniShopSection">
      <article class="introContainer" data-aos="fade-left">
        <div class="introMedia">
          <div class="intro">
            <h1>Featured Items</h1>
          </div>
          <!-- <div class="introP">
            <p>

            </p>
          </div> -->
        </div>
      </article>

      <div class="miniShopGrid" data-aos="fade-right">
        <div class="homeDecor shopImgContainer">
          <a href="http://localhost:3000/images/miniShop/homeDecor.jpg"" target="_blank" rel="noopener noreferrer"><img class="miniShopImg" src="images/miniShop/homeDecor.jpg" alt="RGB Canvas" title="RGB Canvas Picture"></a>
          <div class="ecsp ecsp-SingleProduct-v2 ecsp-Product ec-Product-283334102" itemtype="http://schema.org/Product" data-single-product-id="283334102"><div class="ecsp-title" itemprop="name" style="display:none;" content="wwrbgd, what would Ruth Bader Ginsburg do, notorious RBG on a reverse canvas, feminist"></div><div customprop="addtobag"></div></div><script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?44451210&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script>
        </div>

        <div class="item2 shopImgContainer">
          <img class="miniShopImg" src="images/miniShop/towel.jpg" alt="Alexa Towel" title="Alexa Towel">
          <div class="ecsp ecsp-SingleProduct-v2 ecsp-Product ec-Product-283334106" itemtype="http://schema.org/Product" data-single-product-id="283334106"><div class="ecsp-title" itemprop="name" style="display:none;" content="Alexa kitchen towel * Alexa hide the bodies * home decor * Great holiday gift * Halloween, spooky , back to school"></div><div customprop="addtobag"></div></div><script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?44451210&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script>
        </div>

        <div class="item3 shopImgContainer">
          <a href="#"><img class="miniShopImg" src="images/miniShop/apron.jpg" alt="Chef Apron" title="Chef Apron"></a>
          <div class="ecsp ecsp-SingleProduct-v2 ecsp-Product ec-Product-283334244" itemtype="http://schema.org/Product" data-single-product-id="283334244"><div class="ecsp-title" itemprop="name" style="display:none;" content="Funny kitchen apron * black kitchen decor * dark humor * poison * chef Gag Gift for the bad chef in your family"></div><div customprop="addtobag"></div></div><script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?44451210&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script>
        </div>

        <div class="item4 shopImgContainer">
          <a href="#"><img class="miniShopImg" src="images/miniShop/snoop.jpg" alt="Snoop Dogg T-Shirt" title="Snoop-A-Loop T-Shirt"></a>
          <div class="ecsp ecsp-SingleProduct-v2 ecsp-Product ec-Product-283334234" itemtype="http://schema.org/Product" data-single-product-id="283334234"><div class="ecsp-title" itemprop="name" style="display:none;" content="SNOOTDOGG T-Shirt&#x003e;Music Parody&#x003e;Funny Graphic&#x003e;Original Art&#x003e;Snoop Dogg&#x003e;Fall Fashion&#x003e;Winter Wear&#x003e;Unique one of a kind design&#x003e;Celebrity fan art"></div><div customprop="addtobag"></div></div><script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?44451210&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script>
        </div>

        <div class="item5 shopImgContainer">
          <img class="miniShopImg" src="images/miniShop/candles.jpg" alt="Jareth Candle" title="Jareth Candle">
          <div class="ecsp ecsp-SingleProduct-v2 ecsp-Product ec-Product-283334059" itemtype="http://schema.org/Product" data-single-product-id="283334059"><div class="ecsp-title" itemprop="name" style="display:none;" content="Saint Jareth * Labyrinth * David Bowie * candle * custom * funny * unique * gift idea *"></div><div customprop="addtobag"></div></div><script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?44451210&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script>
        </div>

        <div class="item6 shopImgContainer">
          <a href="#"><img class="miniShopImg" src="images/miniShop/bitch.jpg" alt="Bitch Bracelet" title="Dumb Bitch Bracelet"></a>
          <div class="ecsp ecsp-SingleProduct-v2 ecsp-Product ec-Product-283334355" itemtype="http://schema.org/Product" data-single-product-id="283334355"><div class="ecsp-title" itemprop="name" style="display:none;" content="Dumb bitch beaded bracelet, accessories, swear words, funny, fall fashion"></div><div customprop="addtobag"></div></div><script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?44451210&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script>
        </div>

        <div class="item7 shopImgContainer">
          <a href="#"><img class="miniShopImg" src="images/miniShop/post.jpg" alt="Post Malone Tote" title="Post Malone Tote"></a>
          <div class="ecsp ecsp-SingleProduct-v2 ecsp-Product ec-Product-283334114" itemtype="http://schema.org/Product" data-single-product-id="283334114"><div class="ecsp-title" itemprop="name" style="display:none;" content="Post Malone tote bag * black canvas tote * pineapples * perfect for summer * Halloween Candy Bag"></div><div customprop="addtobag"></div></div><script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?44451210&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script>
        </div>

        <div class="item8 shopImgContainer">
          <a href="#"><img class="miniShopImg" src="images/miniShop/pins.jpg" alt="Chewbacca Pin" title="The Cool-bacca pin"></a>
          <div class="ecsp ecsp-SingleProduct-v2 ecsp-Product ec-Product-283334209" itemtype="http://schema.org/Product" data-single-product-id="283334209"><div class="ecsp-title" itemprop="name" style="display:none;" content="Crappy Offbrand: Cool-bacca 1.25inch pinback button, Sci fi fantasy space lover, Christmas Hanukah gift, Backpack bag decor, Stocking Stuff"></div><div customprop="addtobag"></div></div><script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?44451210&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script>
        </div>
      </div>
    </section>


    <section class="createWrapper">
      <article class="creationInfo">
        <h1>Create Your Own Normal</h1>
        <p>
          Fill out the form to create your very own normal. Any product type we have (example: candles, totes, etc) we can customize to bring your idea to life! Please fill out the form below to get started. <mark>Customized items pricing may vary.</mark>
        </p>
      </article>

      <form class="formWrapper" data-aos="zoom-in"  id="formData"">
        <input class="createInput" name="userName" id="userName" type="text" placeholder="Your Name" required>

        <input class="createInput" name="email" id="userEmail" type="email" placeholder="Your Email Address" required>

        <input class="createInput" name="item" id="userItem" type="text" placeholder="Type of Material" required>

        <textarea class="createInput" name="msg" id="userMsg" placeholder="Tell Us Your Idea" cols="30" rows="10" required></textarea>

        <input type="submit" name="submit" id="submit" value="Send" class="button">
      </form>
    </section>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $('#formData').on('submit', (e) => {
    e.preventDefault();

    const userName = $('#userName').val().trim();
    const email = $('#userEmail').val().trim();
    const item = $('#userItem').val().trim();
    const msg = $('#userMsg').val().trim();

    const data = {
      email,
      userName,
      item,
      msg
    };

    $.post('/email', data, function(data, status){

      console.log("email:");
      console.log("data: " + data);
      console.log("status: " + status);
      console.log("Email Sent!");
    }).fail(function(response) {
        console.log('(custom)Error: ' + response.responseText);
        // alert('(custom)Error: ' + response.responseText);
    });

  })
</script>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
  delay: 50, // values from 0 to 3000, with step 50ms
  duration: 1000, // values from 0 to 3000, with step 50ms
  easing: 'ease-in', // default easing for AOS animations
  once: true,
  }
  );
</script>
