<div class="gridWrapper" id="gridWrapper">
    <form action="#" class="shopForm">
        <label for="shopItems">Filter Items:</label>

        <select name="shopItems" id="shopItems" class="selectShopItems">
            <option id="all" value="all">All</option>
            <option id="homeDecor" value="homeDecor">Home Decor</option>
            <option id="drinkWear" value="drinkWear">Drinkwear</option>
            <option id="accessories" value="accessories">Accessories</option>
            <option id="jewelry" value="jewelry">Jewelry</option>
            <option id="candles" value="candles">Candles</option>
            <option id="shirts" value="shirts">T-Shirts</option>
            <option id="creepshow" value="creepshow">Creepshow</option>
            <option id="pins" value="pins">Pins & Clips</option>
    
        </select>

    
    </form>



</div>








<script src="../../javascripts/shopBuild.js"></script>